<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
        <!-- for each looop: all the todos in the document are passed in. data-zebra (attribute) can be called anything. This one grabs ID out of document-->
        <!-- el = element = first try, second try, etc. Every time loop runs, it will hold object from collection. Since its obj, we can grab property from obj ex)_id -->
        <!-- <% stop writing html and start writing js   %> turns js off and html back on. <% = %> to plug in variables-->
    <% todos.forEach( el => { %>
        <li class='todoItem' data-id='<%=el._id%>'>
            <!-- check css to see what the classes do-->
            <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
            <span class='del'> Delete </span>
        </li>
    <% }) %>    
    </ul>

    <h2>Things left to do: <%= left %></h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>

    <script src="js/main.js"></script>
</body>
</html>